# Google OAuth Configuration
GOOGLE_CLIENT_ID=338846147570-nqc50noev8fn4ma36hrpgaltq7jr43k4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE

# JWT Authentication
JWT_SECRET_KEY=YOUR_PRODUCTION_JWT_SECRET_KEY_HERE
